@{
    ViewData["Title"] = "Ana sayfa";
}

<div class="col-md-7 offset-3 text-center">
    <h1 class="mt-10 display-5">BELTEK PROJE ÖDEVİ</h1>

    <a class="btn mb-3 form-control btn-outline-primary" href="/Ogrenci">Öğrenci</a>
    <a class="btn mb-3 form-control btn-outline-secondary " href="/Ogretmen">Öğretmen</a>
    


</div>

